<html>
    <head>
        <title>Grammar</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    </head>
    <body>
        <input id = "parsebody" type="hidden" value="{{commands}}">
        <script>
            var inputElement = document.getElementById('parsebody');
            var commands = inputElement.value;
            var commandArray = commands.split(',');
            inputElement.value = "";
            for(var i=0; i<commandArray.length;i++) {
                commandArray[i] = commandArray[i].trim();
            }
            var width = window.innerWidth;
            var height = window.innerHeight;
            var final_str="";
            for(var i=0; i<commandArray.length;i++) {
                if(i != commandArray.length-1) {
                    for(var j =0; j<commandArray[i].length; j++) {
                        if(commandArray[i][j] == ' ') {
                            commandArray[i][j] = '+';
                        }
                    }
                    final_str += commandArray[i] + ',';
                } else {
                    for(var j =0; j<commandArray[i].length; j++) {
                        if(commandArray[i][j] == ' ') {
                            commandArray[i][j] = '+';
                        }
                    }
                    final_str += commandArray[i];
                }
            }
            var url = "https://www.google.com/trends/fetchComponent?hl=en-US&q=" + final_str +"&cmpt=q&content=1&cid=TIMESERIES_GRAPH_0&export=5&w="+width+"&h="+height;
        </script>
        <iframe id="iframemap" scrolling="no" style="border:none;" width="100%" height="100%"></iframe>
        <script>
            var iframeElem = document.getElementById('iframemap');
            iframeElem.src=url;
        </script>
    </body>
</html>